*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav>ul {
   display: inline-block;
   background-color: white;
   color: #FFF;
text-decoration: none;
}
ul{
    display: none;
    
}
ul{
    list-style: none;
    background-color: white;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    
}
nav>ul ul>ul {
    display: block;
    position: absolute;
}
.HC:hover .tp{
display: block;
position: absolute;
background-color: rgb(43, 226, 211);
font-weight: bold;
}
.JAVA:hover .tp{
    display: block;
  position: absolute;
  background-color: rgb(43, 226, 211);
  font-weight: bold;
}
.BDD:hover .tp{
    display: block;
    position: absolute;
    background-color: rgb(43, 226, 211);
    font-weight: bold;
}
.PHP:hover .tp{
    display: block;
    position: absolute;
    background-color: rgb(43, 226, 211);
    font-weight: bold;
}
.Missions:hover .tp{
    display: block;
    position: absolute;
    background-color: rgb(43, 226, 211);
    font-weight: bold;
}
.Certif:hover .tp{
    display: block;
    position: absolute;
    background-color:rgb(43, 226, 211);
    font-weight: bold;
}

nav{
    background-color: blueviolet;
    text-decoration: none;
}
